name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 15 * * *'

jobs:
  test-unix:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        lisp: [sbcl-bin]
        os: [ubuntu-latest, macOS-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
          ROSWELL_INSTALL_DIR: /usr
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Install Rove
        run: ros install rove
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PATH="~/.roswell/bin:$PATH"
          rove qlot.asd
      - name: Run setup.sh
        run: scripts/setup.sh
      - name: Run patched tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ros +Q -L sbcl-bin run -- --noinform --non-interactive \
            --load .qlot/setup.lisp \
            --eval "(ql:quickload :rove)" \
            --eval "(or (rove:run :qlot-tests/patched) (uiop:quit -1))"
      - name: Run install.sh
        run: scripts/install.sh
      - name: Run qlot install for Lem
        run: |
          PATH="~/.qlot/bin:~/.local/bin:~/.roswell/bin:$PATH"
          git clone https://github.com/lem-project/lem
          cd lem
          qlot install --debug
          [ -f ".qlot/setup.lisp" ]
      - name: Test installation from tarball
        if: runner.os == 'Linux'
        run: |
          scripts/run.sh bundle --exclude qlot-tests --exclude "qlot-tests/*"
          tar czf /tmp/qlot.tar.gz --exclude '.git' --exclude '.qlot' --exclude '.github' -C ../ qlot
          docker run --rm -v /tmp:/tmp --entrypoint /bin/sh fukamachi/sbcl:latest \
            -c "cd /tmp && tar xzf qlot.tar.gz && cd qlot && scripts/setup.sh"
      - name: Run qlot-uninstaller.sh
        run: |
          scripts/qlot-uninstaller.sh
          [ ! $(which qlot) ]

  test-windows:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        lisp: [sbcl-bin/2.3.9]
        os: [windows-latest]

    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            git
      - name: Prepare git
        run: git config --global core.autocrlf input
        shell: bash
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Install Rove
        run: |
          ros install fukamachi/rove
      - name: Install dependencies
        run: ros install fukamachi/dexador
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ros -s rove -e '(or (rove:run :qlot-tests) (uiop:quit -1))'

  test-exec:
    name: qlot exec - ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    # Allow failures due to Roswell compatibility issues with recent Lisp implementations
    # See: https://github.com/fukamachi/qlot/issues/333
    continue-on-error: true
    strategy:
      matrix:
        lisp: [sbcl-bin, ecl, ccl-bin]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
          ROSWELL_INSTALL_DIR: /usr
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Compile local-inits
        run: |
          for file in $(find ./local-init -name "*.lisp"); do
            ros -e "(or (compile-file #P\"$file\") (uiop:quit -1))"
          done

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        run: |
          docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable scripts/* bin/qlot
