name: CI

on:
  push:
  schedule:
    - cron: '0 15 * * *'

jobs:
  test:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        lisp: [sbcl-bin, abcl-bin]
        os: [ubuntu-latest, macOS-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
          ROSWELL_INSTALL_DIR: /usr
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Install Rove
        run: ros install rove
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PATH="~/.roswell/bin:$PATH"
          rove qlot.asd
      - name: Run setup.sh
        run: scripts/setup.sh
      - name: Run install.sh
        run: scripts/install.sh
      - name: Run qlot install for Lem
        run: |
          PATH="~/.qlot/bin:~/.roswell/bin:$PATH"
          git clone https://github.com/lem-project/lem
          cd lem
          qlot install --debug
          [ -f ".qlot/setup.lisp" ]
      - name: Run qlot-uninstaller.sh
        run: |
          scripts/qlot-uninstaller.sh
          [ ! $(which qlot) ]
